TweetSimple.json
[{"id":"12d204e0.1d003b","type":"tab","label":"Tweet Simple","disabled":false,"info":""},{"id":"3869c90e.3f7806","type":"twitter in","z":"12d204e0.1d003b","twitter":"","tags":"#covid19,#covid_19,#covid-19,#coronavirusoutbreak,#covid2019,#Coronavirus,#SARSCoV2,#virus,#SocialDistancing,#stayhome,#flattenthecurve","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["20d6e067.651a7","fac7c815.0a27d8","2bfdd803.600328"]]},{"id":"2bfdd803.600328","type":"debug","z":"12d204e0.1d003b","name":"msg.tweet ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"20d6e067.651a7","type":"function","z":"12d204e0.1d003b","name":"Remove URLS and replace #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["d09327b7.9fa168"]]},{"id":"d09327b7.9fa168","type":"debug","z":"12d204e0.1d003b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"fac7c815.0a27d8","type":"debug","z":"12d204e0.1d003b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":480,"y":100,"wires":[]},{"id":"e93a8386.f3b7e","type":"comment","z":"12d204e0.1d003b","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]}]