TweetSentiment.json
[{"id":"1989abf8.649fe4","type":"tab","label":"Tweet Sentiment","disabled":false,"info":""},{"id":"ccf35ac4.2b1f88","type":"debug","z":"1989abf8.649fe4","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"256543e1.1a4b6c","type":"switch","z":"1989abf8.649fe4","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":340,"wires":[["ccf35ac4.2b1f88"],["8c99877d.d1d038"]]},{"id":"8554ecd9.ffad8","type":"debug","z":"1989abf8.649fe4","name":"msg.sentiment.score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":600,"y":300,"wires":[]},{"id":"5ed27bfe.683774","type":"twitter in","z":"1989abf8.649fe4","twitter":"","tags":"#covid19,#covid_19,#covid-19,#coronavirusoutbreak,#covid2019,#Coronavirus,#SARSCoV2,#virus,#SocialDistancing,#stayhome,#flattenthecurve","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["ef9fcc68.42cd6","cb600334.d6345","48a6bc8.a5bc944"]]},{"id":"ef9fcc68.42cd6","type":"debug","z":"1989abf8.649fe4","name":"msg.tweet details","active":false,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"dda966d9.eb6a38","type":"sentiment","z":"1989abf8.649fe4","name":"Sentiment of Tweets","property":"payload","x":350,"y":340,"wires":[["8554ecd9.ffad8","256543e1.1a4b6c"]]},{"id":"8c99877d.d1d038","type":"debug","z":"1989abf8.649fe4","name":"Negative Tweets","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":400,"wires":[]},{"id":"cb600334.d6345","type":"function","z":"1989abf8.649fe4","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["2c3f38d8.60ff68","dda966d9.eb6a38"]]},{"id":"2c3f38d8.60ff68","type":"debug","z":"1989abf8.649fe4","name":"","active":false,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"48a6bc8.a5bc944","type":"debug","z":"1989abf8.649fe4","name":"","active":false,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"2dfe240b.68c85c","type":"comment","z":"1989abf8.649fe4","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"3ab24028.51847","type":"inject","z":"1989abf8.649fe4","name":"Happy test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","x":100,"y":200,"wires":[["6aa93efc.5ff9b"]]},{"id":"6aa93efc.5ff9b","type":"change","z":"1989abf8.649fe4","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["cb600334.d6345"]]},{"id":"a02709e0.d89748","type":"inject","z":"1989abf8.649fe4","name":"Sadness test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","x":110,"y":240,"wires":[["6aa93efc.5ff9b"]]},{"id":"d6262039.7abe7","type":"inject","z":"1989abf8.649fe4","name":"Angry test","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","x":100,"y":280,"wires":[["6aa93efc.5ff9b"]]}]