TweetSentimentDashboard.json
[{"id":"aabe8b47.9ddea8","type":"tab","label":"Map Tweets","disabled":false,"info":""},{"id":"685fe991.eaf1f8","type":"change","z":"aabe8b47.9ddea8","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["c8e3f1b7.5c57d","bba4ee8d.54e79"]]},{"id":"7b2e8c62.883514","type":"debug","z":"aabe8b47.9ddea8","name":"Payload","active":false,"console":"false","complete":"payload","x":820,"y":720,"wires":[]},{"id":"c8e3f1b7.5c57d","type":"switch","z":"aabe8b47.9ddea8","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":660,"wires":[["83c37660.98e148"],["2c2f1ace.f34236"],["ac3be608.037eb8"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"83c37660.98e148","type":"change","z":"aabe8b47.9ddea8","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["76881fed.c2bde","7b2e8c62.883514"]]},{"id":"2c2f1ace.f34236","type":"change","z":"aabe8b47.9ddea8","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["76881fed.c2bde","7b2e8c62.883514"]]},{"id":"ac3be608.037eb8","type":"change","z":"aabe8b47.9ddea8","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["76881fed.c2bde","7b2e8c62.883514"]]},{"id":"76881fed.c2bde","type":"worldmap","z":"aabe8b47.9ddea8","name":"","lat":"","lon":"","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":830,"y":600,"wires":[]},{"id":"847b42be.0d30e","type":"twitter in","z":"aabe8b47.9ddea8","twitter":"","tags":"#covid19,#covid_19,#covid-19,#coronavirusoutbreak,#covid2019,#Coronavirus,#SARSCoV2,#virus,#SocialDistancing,#stayhome,#flattenthecurve","user":"false","name":"","inputs":1,"x":110,"y":100,"wires":[["c0a6f56f.4504a8","517a2ac6.a68f94"]]},{"id":"52e4fb40.dcd994","type":"inject","z":"aabe8b47.9ddea8","name":"Example","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"created_at\":\"Mon May 13 03:58:11 +0000 2019\",\"id\":1127785082603941900,\"id_str\":\"1127785082603941888\",\"text\":\"RT @johnwalicki: #CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.c…\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"Paramus,NJ\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2521,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Mon May 13 03:23:08 +0000 2019\",\"id\":1127776262246862800,\"id_str\":\"1127776262246862848\",\"text\":\"#CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.co/cCmE7WyFUj\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"New Jersey, USA\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2520,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":1,\"favorite_count\":1,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[0,12]},{\"text\":\"NodeRED\",\"indices\":[71,79]}],\"urls\":[{\"url\":\"https://t.co/cCmE7WyFUj\",\"expanded_url\":\"https://developer.ibm.com/callforcode/blogs/use-node-red-and-ai-to-analyze-social-media-after-a-disaster\",\"display_url\":\"developer.ibm.com/callforcode/bl…\",\"indices\":[111,134]}],\"user_mentions\":[{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[36,49]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[50,62]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\"},\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[17,29]},{\"text\":\"NodeRED\",\"indices\":[88,96]}],\"urls\":[],\"user_mentions\":[{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[3,15]},{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[53,66]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[67,79]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1557719891583\"}","payloadType":"json","x":140,"y":280,"wires":[["bcbb7b5f.d38db8"]]},{"id":"4197ad2e.cf6764","type":"sentiment","z":"aabe8b47.9ddea8","name":"","property":"payload","x":400,"y":460,"wires":[["685fe991.eaf1f8","1175601c.2da88"]]},{"id":"bcbb7b5f.d38db8","type":"change","z":"aabe8b47.9ddea8","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"tweet.text","pt":"msg","to":"tweet.tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["cc80f597.7246c8"]]},{"id":"bba4ee8d.54e79","type":"debug","z":"aabe8b47.9ddea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":480,"wires":[]},{"id":"cc80f597.7246c8","type":"function","z":"aabe8b47.9ddea8","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["95d2edde.7e6e5"]]},{"id":"c0a6f56f.4504a8","type":"debug","z":"aabe8b47.9ddea8","name":"","active":true,"tosidebar":true,"console":false,"complete":"tweet","x":300,"y":100,"wires":[]},{"id":"4d2ad882.cc91d8","type":"function","z":"aabe8b47.9ddea8","name":"Tweet URL","func":"msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["537235be.a94acc","c17965be.819608"]]},{"id":"537235be.a94acc","type":"debug","z":"aabe8b47.9ddea8","name":"","active":false,"console":"false","complete":"false","x":610,"y":360,"wires":[]},{"id":"c17965be.819608","type":"ui_template","z":"aabe8b47.9ddea8","group":"34b04329.a1416c","name":"Open Tweet","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":400,"wires":[[]]},{"id":"13da127.6c327ee","type":"ui_text","z":"aabe8b47.9ddea8","group":"34b04329.a1416c","order":2,"width":"10","height":"3","name":"Tweet Text","label":"{{msg.store.sender}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":520,"wires":[]},{"id":"1dd741bc.09f2be","type":"ui_gauge","z":"aabe8b47.9ddea8","name":"","group":"34b04329.a1416c","order":4,"width":"10","height":"8","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":440,"wires":[]},{"id":"1175601c.2da88","type":"change","z":"aabe8b47.9ddea8","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["1dd741bc.09f2be","2ba2dac1.0e59e6"]]},{"id":"a7c59d57.27afa","type":"inject","z":"aabe8b47.9ddea8","name":"Init Dashboard","repeat":"","crontab":"","once":true,"topic":"","payload":"true","payloadType":"bool","x":140,"y":40,"wires":[["dc406ed6.05516"]]},{"id":"dc406ed6.05516","type":"function","z":"aabe8b47.9ddea8","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["539aec50.eaa954"]]},{"id":"539aec50.eaa954","type":"template","z":"aabe8b47.9ddea8","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=768px></iframe>","x":610,"y":40,"wires":[["1824ed30.e42bb3"]]},{"id":"1824ed30.e42bb3","type":"ui_template","z":"aabe8b47.9ddea8","group":"8286e039.8e47d","name":"Embedded Map","order":0,"width":"16","height":"13","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":40,"wires":[[]]},{"id":"2ba2dac1.0e59e6","type":"debug","z":"aabe8b47.9ddea8","name":"Sentiment Score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":400,"wires":[]},{"id":"517a2ac6.a68f94","type":"ui_switch","z":"aabe8b47.9ddea8","name":"","label":"Enable / Disable","group":"34b04329.a1416c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":200,"wires":[["cc80f597.7246c8"]]},{"id":"95d2edde.7e6e5","type":"switch","z":"aabe8b47.9ddea8","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":200,"wires":[["d573c623.e152c8"]]},{"id":"d573c623.e152c8","type":"change","z":"aabe8b47.9ddea8","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1Ijoiam9obndhbGlja2kiLCJhIjoiY2pyc3B4NGk1MHJnaTRhbm91NGIzd3RqdCJ9.zBuo32EkPRZfooqdNSLrGA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["149856a9.5e2209","458005fc.9af92c"]]},{"id":"149856a9.5e2209","type":"http request","z":"aabe8b47.9ddea8","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","proxy":"","x":990,"y":200,"wires":[["c9119a12.2bc338"]]},{"id":"c9119a12.2bc338","type":"json","z":"aabe8b47.9ddea8","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":200,"wires":[["14097593.eda63a"]]},{"id":"14097593.eda63a","type":"change","z":"aabe8b47.9ddea8","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":460,"wires":[["4d2ad882.cc91d8","4197ad2e.cf6764","13da127.6c327ee"]]},{"id":"ac7910e3.16aac","type":"comment","z":"aabe8b47.9ddea8","name":"MapBox Forward GeoCode API","info":"","x":510,"y":160,"wires":[]},{"id":"458005fc.9af92c","type":"debug","z":"aabe8b47.9ddea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":160,"wires":[]},{"id":"34b04329.a1416c","type":"ui_group","z":"","name":"Global Tweets","tab":"2270f129.69a10e","order":1,"disp":true,"width":"10","collapse":false},{"id":"8286e039.8e47d","type":"ui_group","z":"","name":"Global Tweet Map","tab":"2270f129.69a10e","order":2,"disp":true,"width":"16","collapse":false},{"id":"2270f129.69a10e","type":"ui_tab","z":"","name":"Tweet Map","icon":"dashboard","order":4}]